################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/IdentityServerWithAspNetIdentity/obj
/Dews.Shared/bin
/Dews.Shared/obj
bin
obj
/Dews.Shared/obj
/IdentityServerWithAspNetIdentity/bin
/IdentityServerWithAspNetIdentity/obj
/Dews.DataAccess/bin
/Dews.DataAccess/obj
/Dews/bin
/Dews/obj
/Dews.DataAccess/bin
/Dews.DataAccess/obj 
/IdentityServerWithAspNetIdentity/identityserver4_log.txt
/.vs
/Dews/obj
*.vs
/.vs
/IdentityServerWithAspNetIdentity/identityserver4_log.txt
/IdentityServerWithAspNetIdentity/Properties/PublishProfiles
/Dews.DataAccess/bin
/Dews.DataAccess/obj
/Dews.DataAccess.NPoco/bin
/Dews.DataAccess.NPoco/obj
/Dews.Logger/bin
/Dews.Logger/obj
/Dews.Logger.EventViewer/bin
/Dews.Logger.EventViewer/obj
/Dews.News/obj
/Dews.News/bin
/Dews.Shared/obj
/Dews.Shared/bin
/IdentityServerWithAspNetIdentity/Certs
PublishProfiles
PublishProfiles
PublishProfiles
/Dews/wwwroot/uploads
/IdentityServerWithAspIdAndEF/identityserver4_log.txt
