@model LoginViewModel

<div class="" style=" margin: auto;
    width:  100%;
    border: 3px solid green;
    padding: 10px;">
    @Html.Partial("_ValidationSummary")
    <div class="row">

    </div> 
        @foreach (var provider in Model.VisibleExternalProviders)
        {
        
    <div class="row">
        <a  class="fa fa-@provider.DisplayName.ToLower()"
           asp-action="ExternalLogin"
           asp-route-provider="@provider.AuthenticationScheme"
           asp-route-returnUrl="@Model.ReturnUrl"> 
        </a>
    </div>
           
        } 
</div>